<%- if controller_name != 'sessions' %>
  <h3 class="main-text">Already have an account? Log in <a href="<%= new_session_path(resource_name) %>">here.</a></h3>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <h3 class="main-text">Don't have an account? Sign up <a href="<%= new_registration_path(resource_name) %>">here.</a></h3>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <h3 class="main-text">Forgot your password? Try <a href="<%= new_password_path(resource_name) %>">this.</a></h3>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <h3 class="main-text">Didn't receive confirmation instructions? Try <a href="<%= new_confirmation_path(resource_name) %>">this.</a></h3>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
