<!-- This is for the righti-sdebar, the thing that comes up when you click Comment or Buy -->

<div id="right-sidebar" class="activated">
  <span id="menu-close-btn" onclick="goBack()">X</span>
  <div id="general-pic-info">
    <h1><%= @image.title %></h1>
    <h2>Tags: <%= raw tag_links(@image.all_tags) %></h2>
  </div>

  <div id="comments" class="invisible">
    <% @image.comments.each do |comment| %>
      <div class="comment">
        <% if comment.user == current_user %>
          <%= link_to "x", [comment.image, comment], method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, :class => "delete-btn" %>
        <% end %>
        <h3><%= comment.user.email %></h3>
        <h4><%= comment.body %></h4>
      </div>
    <% end %>
    <%= render partial: 'comments/form' %>
    <!-- <%= link_to like_image_path(@image), method: :get do %> -->
    <!--  Upvote -->
    <!-- <%= @image.get_upvotes.size %> <br> -->
    <!-- <% end %> -->
  </div>

  <div id="buy" class="invisible">
    <%= render partial: 'buy' %>
    <!-- <%= link_to 'Edit', edit_image_path(@image) %> <br> -->
  </div>
</div>

<div id="menu"> <!--  Main menu, slides out from left-->
  <span id="menu-close-btn" onclick="toggleMenu()">X</span>
  <h1><a href="/">Flotr</a></h1>
  <% if user_signed_in? %>
    <h2><%= link_to 'Profile', profile_path %></h2>
    <h2><%= link_to 'Settings', edit_user_registration_path %></h2>
    <h2><%= link_to 'Browse Tags', browse_path %></h2>
    <h2><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></h2>
  <% else %>
    <h2><%= link_to 'Log in', new_user_session_path %></h2>
    <h2><%= link_to 'Sign up', new_user_registration_path %></h2>
    <h2><%= link_to 'Browse Tags', browse_path %></h2>
  <% end %>
</div>

<div id="controls"> <!-- Buttons/controls... the circular icons on the main page -->

  <div id="controls-tl"> <!-- top-left -->
    <div>
      <span class="flotr-bars circle-icon" onclick="toggleMenu()"></span>
      <span class="tooltip" id="tooltip-menu">MENU</span>
    </div>
  </div>

  <div id="controls-bl" class="bottom-button"> <!-- bottom-left -->
    <a href="<%= search_path %>" id="search-btn"><span class="tooltip" id="tooltip-search">SEARCH</span>
    <span class="flotr-search circle-icon"></span></a>
  </div>

</div>

<div id="bg">
  <%= image_tag @image.try(:image).url, :class => "bg-img" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if ( sessionStorage.show == "buy" ) {
      $('#buy').removeClass("invisible");
      sessionStorage.show = "";
    } else {
      $('#comments').removeClass("invisible");
      sessionStorage.show = "";
    }
  });
</script>
