<h1><%= @image.title %></h1>
<h2><%= raw tag_links(@image.all_tags) %></h2>
<%= image_tag @image.try(:image).url(:large) %>

<% @image.comments.each do |comment| %>
  <h4><%= comment.user.email %></h4>
  <%= comment.body %>
  <% if comment.user == current_user %>
    <%= link_to "Delete Comment", [comment.image, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= render partial: 'comments/form' %>
  <%= link_to like_image_path(@image), method: :get do %>
    Upvote
    <%= @image.get_upvotes.size %> <br>
  <% end %>

  <%= render partial: 'buy' %>
<% end %>

<% if user_signed_in? && (current_user.id == @image.user_id) %>
  <%= link_to 'Edit', edit_image_path(@image) %> <br>
<% end %>

<%= link_to 'Home', root_path %>
